footer{
      padding-block: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--text-color-secundary);
}

footer > ul{
       width: 297px;
       display: flex;
       gap: 16px;
}
footer > span,a{
     font: var(--text-md);
}

