#navigator{
      padding-block: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between; 
      height: 80px; 
}

#navigator > ul{
      display: flex;
      gap: 24px;
      align-items: center;
      padding-block: 8px;
      
}
#navigator > ul > li > a{
      display: flex;
}

#navigator > ul > li:last-child img{
      border-radius: 40px;
      width: 40px;
      height: 40px;
      object-fit: cover;
}